@font-face {
font-family: 'Avant Garde Book BT';
font-style: normal;
font-weight: normal;
src: url('AVGARDN_2.ttf') ;
}
body{
    background-color: #252525;
    font-family: 'Avant Garde Book BT', Arial,sans-serif;
	margin: 0;
	padding: 0;
}
input[type=submit] {
    background-color: #673199;
    color: #fff;
    padding: 15px 100px;
    text-decoration: none;
	border: none;
    background: #673199;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
.visionsource{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.header{
    background-color: black;
    height: 130px;
    width: 100%;
    align-items: center;
}
.header img{ 
    height: 64px;
    margin-left: 40px;
}
.header div {
	padding-top: 40px;
	padding-right: 20px;
}
.header .button-en {
    display: block;
    width: 50px;
    height: 20px;
    background: #fff;
	text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #000;
    font-weight: bolder;
	border: 5px solid #fff
}
.header .button-fr {
    display: block;
    width: 50px;
    height: 20px;
    background: #000;
	text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
	border: 5px solid #fff;
}
.content-header{
    background: url('../images/riverside_header_edit.jpg') no-repeat center #000;
    height: 482px;
    width: 100%;  
    display: inline-block !important; 
    display: -webkit-inline-box;
    align-items: center;
}
.content-header p{ 
    /* background: linear-gradient(to right, #008cae, #13b27d);
    background: -webkit-linear-gradient(left, #008cae, #13b27d);  */
    color: #fff;
    /* display: inline-flex !important;  */
    display: -webkit-inline-box;
    font-size: 50px;
    clear: both;
    margin: 2px 0px;
    padding: 5px 10px; 
}
.content-header div{
    margin: 100px 0px 0px 30px;
}
.content-header span{ 
    color: #fff;
    display: inline-flex !important; 
    display: -webkit-inline-box;
}
.content-header h5{
    font-size: 30px;
    color: white;
    font-weight: normal;
    margin: 60px 10px 0px 20px;
}
.content{
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    float: left;
    width: 100%;
    position: relative;
}
.content p{
    line-height: 28px;
    font-size: 20px;
}
.content .sponsor,.content .sponsor-eye{
    text-align: right;
    padding: 10px 20px 0px 20px;
    visibility: hidden;
}
.content .sponsor img{
    width: 100%;
    max-width: 189px; 
    right: 10px;
    margin-top: 0px;
    margin-right: 30px;
}
.top-content{
    margin-top: -65px !important;
}
.content .begin-block {
    margin: 0px 40px;
}
.content .begin-block p{
    line-height: 28px;
    font-size: 18px;
	font-weight: normal;
	margin: 0px 0px 40px 0px;
}
.content .begin-block hr{
    width: 50%;
    border: 1px solid #00a293;
}
.content .begin-block h4 {
   
    color:#673199;
    font-size: 25px;
    font-weight: bold;
    margin: 40px 0px 40px 0px;
}


.content .begin-block .download a{
    padding-top: 20px;
    color:blue;
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0px 40px 0px;
    padding: 0px;
    text-decoration: none;
    background: none;
}

.content .begin-block h3,.content .begin-block h2{
    color:#00a293;
    font-family: 'Avant Garde Book BT', Arial,sans-serif;
    margin-bottom: 0px;
    font-weight: normal;
}
.content .begin-block h2{
    font-size: 50px;
}
.content .begin-block h3{
    margin-top: 0px;
    font-size: 25px;
}
.content .begin-block .btn{
    width: 100%; 
    display: inline-flex;
    justify-content: center;
    margin: 10px 0px 40px 0px;
}
.content .begin-block a{
    color: #fff;
    padding: 15px 100px;
    text-decoration: none;
    background: #673199;
    font-weight: bold;
    font-size: 22px;
}
.content .white-block {
    margin: 0px 20px;
}
.content .white-block h4,.content .gray-block h4{
    color:#673199;
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0px 40px 0px;
}
.content .white-block h3,.content .white-block h2,.content .gray-block h3,.content .gray-block h2{
    color:#00a293;
    font-family: 'Avant Garde Book BT', Arial,sans-serif;
    margin-bottom: 0px;
    font-weight: normal;
}
.content .white-block h2,.content .gray-block h2{
    font-size: 50px;
}
.content .white-block h3,.content .gray-block h3{
    margin-top: 0px;
    font-size: 25px;
}
.content .white-block .video{
    margin: 30px 0px;
}
.content .white-block .video2{
    margin: 0px 0px 30px 0px;
}
.content .white-block .video2,.content .white-block .video,.content .begin-block .video{
    width: 100%;
    max-width: 1122px;
    cursor: pointer;
}
.content .white-block hr{
    width: 50%;
    border: 1px solid #00a293;
}
.white-block li.lbl{ 
    list-style-type: none;
    display: inline-flex !important;
    display: -webkit-inline-box;
    width: 100%;
    max-width: 545px;
}
.prizes{
    margin-bottom: 40px;
    text-align: center;
}
ul{ 
    -webkit-padding-start: 0px;
    padding-left: 0px;
} 
.prizes li.prize{
    list-style-type: none;
    display: inline-flex !important; 
    display: -webkit-inline-box;
    width: 100%;
    max-width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.prize li{ 
    list-style-type: none;
}
.prize p{ 
    margin: 0px;
    font-size: 18px;
}
.how li{ 
    list-style-type: none;
    display: inline-flex !important; 
    display: -webkit-inline-box;
    width: 100%;
    align-items: center;
}
.enrollform{
    background: linear-gradient(to right, #008cae, #13b27d);
    background: -webkit-linear-gradient(left, #008cae, #13b27d); 
    color:rgb(8, 8, 8);
    padding: 50px 40px;
    position: relative;
    font-size: 18px;
    background-image: url(../images/bg_form.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.content .enrollform h4{
    font-size: 25px;
    font-weight: bold;
    margin: 50px 0px 40px 0px;
}
.enrollform .arrow{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 46px solid #fff;
    position: absolute;
    top: 0; 
    transform: translateX(5px);
}

.enrollform li{ 
    list-style-type: none; 
}
.enrollform .rqd{
    justify-content: flex-end;
}
.enrollform li.lbl{ 
    list-style-type: none;
    display: inline-flex !important;
    display: -webkit-inline-box;
    width: 100%;
    max-width: 545px;
}
.enrollform .lbl ul{
    width: 100%;
}
.enrollform .lbl input{
    width: 90%;
    padding: 5px;
}
.enrollform .lbl ul li:first-child{
    margin-bottom: 20px
}
.enrollform .lbl ul li:last-child{
    margin-bottom: 40px
}
.enrollform input[type='checkbox']{
    padding: 20px;
    width: 20px;
    height: 20px; 
    background: #fff;
}
.enrollform .btn{
    width: 100%; 
    display: inline-flex;
    justify-content: center;
    margin-top: 40px;
}
.enrollform a{
    color: #fff;
    padding: 15px 100px;
    text-decoration: none;
    background: #673199;
    font-weight: bold;
    font-size: 22px;
}
.locator{
    float: left;
    width: 100%;
    margin-top: 60px;
}
.locator div{
    float: left;
    width: 100%;
    max-width: 545px;
}
.locator h2{
    margin-top: 0px;
    width: 100%;
    max-width: 620px;
}
.locator img{
    width: 100%;
    max-width: 520px;
}
.footer{ 
    float: left;
    background-color: #000;
    padding: 30px 0px 60px;
    border-top: 2px solid #00a293;
    width: 100%;
    text-align: center;
    color: #fff;
}
.footer a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}
.footer a.gutter{ 
    margin: 0px 20px 0px 18px;
    font-size: 20px;
    border-right: 1px solid gray;
}
.footer p{
    font-size: 12px;
    color: #b1b0b0;
    width: 70%;
    text-align: left;
    margin: 20px auto; 
}
iframe{
    width: 100%;
    height: 629px;
    margin: 30px 0px;
}
.content .gray-block{
    background-color: #F2F2F2;
    padding: 20px 40px 10px 40px;
}
.content .gray-block h2{
    margin: 0px;
}
.objective{
    background: url(../images/objective.png) no-repeat left center;
    font-size: 25px;
    color: #00a293;
    font-weight: bold;
    text-align: center;
    background-size: 38px;
    padding: 20px 0px 20px 0px;
    width: 750px;
    margin: 0 auto;
    max-width: 750px;
}
.enrollform li.lbl.small{ 
    list-style-type: none;
    display: inline-flex !important;
    display: -webkit-inline-box;
    width: 100%;
    max-width: 365px;
}
.text-center{
    text-align: center;
    font-weight: bold;
}
.content .white-block.pushed-down,.pushed-down{ 
    margin-top: 40px;
}
.content .white-block.pushed-up{ 
    margin-bottom: 40px;
}
.ways li{
    list-style: none;
    line-height: 28px;
    font-size: 20px;
}
.sample li{
    list-style: disc;
}
.ways span{
    background: linear-gradient(to right, #008cae, #13b27d);
    background: -webkit-linear-gradient(left, #008cae, #13b27d); 
    padding: 7px 14px;
    border-radius: 100%;
    font-weight: bold;
    color: #fff;
}
.ways{
    display: inline-flex;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}
.ways li.way{
    width: 50%;
}
.ways strong{
    color:#00a293;
}
.ways p{
    margin:0px;
}
.pad-left{
    margin-left: 45px !important;
}
.thank-vid{
    width: 100%;
    text-align: center;
}
.thank-vid img{
    width: 100%;
    max-width: 700px;
    text-align: center;
    cursor: pointer;
}
.content .sponsor-eye img {
    width: 100%;
    max-width: 315px;
    right: 10px;
    margin-top: 8px;
    margin-right: 30px;
}
@media only screen and (min-width: 0px) and (max-width: 735px) {
    .content-header p{
        font-size: 90%;
    }
    .content-header { 
        height: auto;
        width: 100%; 
        background-size: cover;
    }
    .content-header h5 {
        font-size: 80%; 
        margin: 1.67em 0px;
    }
    .content-header div {
        margin: 43px 0px 0px 30px;
    }
    iframe{
        height: auto;
    }
    .content .white-block{
        margin: 0px 10px;
    }
    .objective{ 
        background-position-y: 15px;
        background: url(../images/objective.png) no-repeat left top;
        background-size: 38px;
        padding: 5px 0px 20px 41px;
        width: 67%;
    }
    .ways{
        display: unset;
        width: 100%;
    } 
    .ways li.way{
        width: 100%;
    }
}
@media only screen and (min-width: 0px) and (max-width: 429px) {
    iframe{
        min-height: 200px;
    }  
    .content .sponsor img,.content .sponsor-eye img{ 
        max-width: 250px;  
    }
    .top-content {
        margin-top: 0px !important;
    }
    .content .sponsor, .content .sponsor-eye{
        text-align: center;
    }
}
@media only screen and (min-width: 430px) and (max-width: 768px) {
    iframe{
        min-height: 429px;
    } 
    .top-content {
        margin-top: 0px !important;
    }
    .content .sponsor, .content .sponsor-eye{
        text-align: center;
    }
} 
@media only screen and (min-width: 769px) and (max-width: 995px) { 
    .top-content {
        margin-top: 0px !important;
    }
    .content .sponsor, .content .sponsor-eye{
        text-align: center;
    }
} 


.brand{
    text-align: center;  
    padding: 20px; 
    padding-bottom: 40px;
}
    
    .brand .transitions-logo{
        width: 289px;
    }
    .brand .essilor-brand{
        width: 200px;
        top: 15px;
        position: relative
    }



    .brand .co{
        display: inline-block;
        position: relative;
        top: -13px;
        width: 40px;
        padding: 0px 38px;
    }
    

.disclaimer{
    line-height: 1.3em;
}
.disclaimer ul li{
    display: block;
    font-size: small;
    

}